root = true

# Java source files
[src/main/java/**/*.java]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

# Java test files
[src/test/java/**/*.java]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true
# Additional test - specific rules can be added here
